<%- include('../../includes/header') -%>
    <div id="main">
        <div class="page-content">
            <div class="page-heading">
                <h3>Users Statistics</h3>
            </div>
            <section class="row">
                <div class="col-12 col-lg-12">
                    <%- include('../../includes/message') %>
                        <section class="section Transactions_table">
                            <div class="card">
                                <div class="card-body">
                                    <div class="col-12 col-lg-12">
                                        <div class="col-lg-6">
                                            <div class="apply_box">
                                                <div class="form-group">
                                                    <select class="form-select" id="basicSelect">
                                                <option value="0">Bulk action</option>
                                                <option value="3">Enable Panic</option>
                                                <option value="4">Disable Panic</option>
                                                <option value="1">Enable User</option>
                                                <option value="2">Disable User</option>
                                            </select>
                                                </div>
                                                <div class="button_apply"> <a href="#" class="btn btn-primary">Apply</a> </div>
                                                <div class="button_apply ms-5"> <a href="/secure/pages/users/add" class="btn btn-primary">Add user</a> </div>
                                            </div>
                                        </div>
                                        <table class="table table-striped" id="table1">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input form-check-primary form-check-glow" name="customCheck" id="check1"> </div>
                                                    </th>
                                                    <th>Username</th>
                                                    <th>Name</th>
                                                    <th>Credits</th>
                                                    <th>Last login</th>
                                                    <th>Enabled</th>
                                                    <th>Panic</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(i=0; i<records.length; i++){ %>
                                                    <tr>
                                                        <td>
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input form-check-primary form-check-glow" name="customCheck" id="check2"> </div>
                                                        </td>
                                                        <td>
                                                            <a href="/secure/pages/users/details/<%=records[i].username%>" class="text-info">
                                                                <%=records[i].username%>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <%=records[i].firstName%>
                                                                <%=records[i].lastName%>
                                                        </td>
                                                        <td>
                                                            <%=records[i].credits%>
                                                        </td>
                                                        <td>
                                                            <%=records[i].lastlogin%>
                                                        </td>
                                                        <td>
                                                            <% if(records[i].status == "ENABLED"){%>
                                                                <div class="tick">
                                                                    <svg class="svg-inline--fa fa-check fa-w-16 fa-fw select-all" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                                        <path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path>
                                                    </svg>
                                                                </div>
                                                                <% }else if (records[i].status == "DISABLED") {%>

                                                                    <div class="cross">
                                                                        <svg class="svg-inline--fa fa-times fa-w-11 fa-fw select-all" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg="">
                                                        <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
                                                    </svg>
                                                                    </div>
                                                                    <%}%>
                                                        </td>
                                                        <td>
                                                            <%if(records[i].status == "PANIC"){%>
                                                                <div class="tick">
                                                                    <svg class="svg-inline--fa fa-check fa-w-16 fa-fw select-all" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                                        <path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path>
                                                    </svg>
                                                                </div>
                                                                <%}else{%>
                                                                    <div class="cross">
                                                                        <svg class="svg-inline--fa fa-times fa-w-11 fa-fw select-all" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg="">
                                                            <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
                                                        </svg>
                                                                    </div>
                                                                    <% }%>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                        <!-- <tr>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input form-check-primary form-check-glow" name="customCheck" id="check2"> </div>
                                        </td>
                                        <td><a href="User_detail.html" class="text-info">AaronSchlieker1</a></td>
                                        <td>AaronSchlieker</td>
                                        <td>53.25</td>
                                        <td>null</td>
                                        <td>
                                            <div class="tick">
                                                <svg class="svg-inline--fa fa-check fa-w-16 fa-fw select-all" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                                        <path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path>
                                                    </svg>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cross">
                                                <svg class="svg-inline--fa fa-times fa-w-11 fa-fw select-all" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg="">
                                                        <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
                                                    </svg>
                                            </div>
                                        </td>
                                    </tr> -->
                                        </table>
                                    </div>
                                </div>
                        </section>
                        </div>
                </div>
            </section>
        </div>
        <%- include('../../includes/footer') -%>