<%- include('../../includes/header') -%>

<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <div class="btn-toolbar mb-2 mb-md 0">
  </div>
</div>

<div class="col py-3">

  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
          <li class="breadcrumb-item active"><%= medicalProfessionals.name  %></li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">
      <b>UserId:</b> <%= medicalProfessionals._id %>
    </div>
  </div>

</div>

<ul class="list-group">

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Name:</b></div>
      <div class="col"><%= medicalProfessionals.name %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>lastName:</b></div>
      <div class="col"><%= medicalProfessionals.lastName %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>medProType:</b></div>
      <div class="col"><%= medicalProfessionals.medProType %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>phone:</b></div>
      <div class="col"><%= medicalProfessionals.phone %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>fax:</b></div>
      <div class="col"><%= medicalProfessionals.fax %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Date Modified:</b></div>
      <div class="col"><%= medicalProfessionals.updatedAt %></div>
    </div>
  </li>

</ul>


<%- include('../../includes/footer') -%>