<%- include('../../includes/header') -%>

  <div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Medical Patient</h1>
    <div class="btn-toolbar mb-2 mb-md 0">
      <div class="btn-group me-2">
        <button class="btn btn-sm btn-outline-secondary">?</button>
      </div>
    </div>
  </div>

  <div class="col py-3">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">New Patient</li>
          </ol>
        </nav>
      </div>

    </div>

  </div>


  <form action="/api/secure/medicalPatient/add" method="POST">
    <input type="hidden" name="medicalpractic" value="<%= medicalProfessional._id %>">
    <input type="hidden" name="name" value="<%= medicalProfessional.name %>">
    
      
    <div class="row form-group mb-4">
      <div class="col">
      <div class="form-group"> 
        <label for="patientype">Patient Type</label>
        <select class="form-select" id="patientype" name="patientype">
          <option id="patientype" name="patientype" value="Referral">Referral</option>
          <option id="patientype" name="patientype" value="D2C">D2C</option>
        </select>
      </div>
      </div>
      <div class="col">
        <label for="rxApproval">Rx Approval</label>
        <input type="text" class="form-control" id="rxApproval" name="rxApproval" value="" placeholder="Rx Approval"
          required>
      </div>
    </div>
    <div class="row form-group mb-4">
      <div class="col">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" value="" placeholder="First Name"
          required>
      </div>
      <div class="col">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required>
      </div>
    

    </div>
    <div class="row form-group mb-4">
      <div class="col">
        <label for="dateOfBirth">Date Of Birth</label>
        <input type="text" class="form-control" id="dateOfBirth" name="dateOfBirth" value="" placeholder="Date Of Birth"
          required>
      </div>
      <div class="col">
        <label for="nummd">Nummd</label>
        <input type="number" class="form-control" id="nummd" name="nummd" value="" placeholder="Nummd" required>
      </div>
      
    </div>
    <div class="row form-group mb-4">
      <div class="col">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" name="city" value="" placeholder="City" required>
      </div>
      <div class="col">
        <label for="state">State</label>
        <input type="text" class="form-control" id="state" name="state" value="" placeholder="State" required>
      </div>
     
    </div>
    <div class="row form-group mb-4">
      <div class="col">
        <label for="zip">Zip</label>
        <input type="number" class="form-control" id="zip" name="zip" value="" placeholder="Zip" required>
      </div>
      <div class="col">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" value="" placeholder="Email" required>
      </div>
    </div>
    <div class="row form-group mb-4">
      <div class="col">
        <label for="phone">Phone</label>
        <input type="number" class="form-control" id="phone" name="phone" value="" placeholder="Phone" required>
      </div>
      <div class="col">
      <div class="form-group">
        <label for="status">Status</label>
        <select class="form-select" id="status" name="status">
          <option id="status" name="status" value="Active">Active</option>
          <option id="status" name="status"value="Dormant">Dormant</option>
          <option  id="status" name="status" value="Removed">Removed</option>
        </select>
      </div>
    </div>
    </div>
    <div class="row form-group mb-4">
      <div class="col">
        <label for="coordinatorFirstName">Coordinator FirstName</label>
        <input type="text" class="form-control" id="coordinatorFirstName" name="coordinatorFirstName" value=""
          placeholder="Coordinator FirstName" required>
      </div>
      <div class="col">
        <label for="coordinatorLastName">Coordinator LastName</label>
        <input type="text" class="form-control" id="coordinatorLastName" name="coordinatorLastName" value=""
          placeholder="Coordinator LastName" required>
      </div>
    </div>
    <div class="row form-group mb-4">
      <div class="col">
        <label for="coordinatorPhone">Coordinator Phone</label>
        <input type="number" class="form-control" id="coordinatorPhone" name="coordinatorPhone" value=""
          placeholder="Coordinator Phone" required>
      </div>
      <div class="col">
        <label for="coordinatorEmail">Coordinator Email</label>
        <input type="text" class="form-control" id="coordinatorEmail" name="coordinatorEmail" value=""
          placeholder="Coordinator Email" required>
      </div>
    </div>
    <div class="form-group mb-4">
      <button type="submit" class="btn btn-primary">Add </button>
    </div>
  </form>
  
  <div class="table-responsive">
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Patien Type</th>
            <th scope="col">Referred By</th>
            <th scope="col">Rx Approval</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Nummd</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Zip</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col">Coordinator FirstName</th>
            <th scope="col">Coordinator LastName</th>
            <th scope="col">Coordinator Phone</th>
            <th scope="col">Coordinator Email</th>
       
          </tr>
        </thead>
       
        <tbody>
          <% medicalPatient.forEach(element=> { %>
            <tr class="align-middle">
              <td>
                <%= element.patientype %>
              </td>
              <td>
                <%= element.referredBy %>
              </td>
              <td>
                <%= element.rxApproval %>
              </td>
              <td>
                <%= element.firstName %>
              </td>
              <td>
                <%= element.lastName %>
              </td>

              <td>
                <%= element.dateOfBirth %>
              </td>
              <td>
                <%= element.nummd %>
              </td>
              <td>
                <%= element.city %>
              </td>
              <td>
                <%= element.state %>
              </td>
              <td>
                <%= element.zip %>
              </td>
              <td>
                <%= element.email %>
              </td>
              <td>
                <%= element.phone %>
              </td>
              <td>
                <%= element.status %>
              </td>
              <td>
                <%= element.coordinatorFirstName %>
              </td>
              <td>
                <%= element.coordinatorLastName %>
              </td>
              <td>
                <%= element.coordinatorPhone %>
              </td>
              <td>
                <%= element.coordinatorEmail %>
              </td>
              
              <td class="text-end">

                <div class="d-flex flex-row justify-content-end gap-2">

                  <a href="/medicalpatient/view/<%= element._id %>" type="button" class="btn btn-primary btn-small">
                    <i class="bi bi-eye"></i>
                  </a>

                  <a href="/medicalpatient/edit/<%= element._id %>" type="button" class="btn btn-warning btn-small">
                    <i class="bi bi-pencil"></i>
                  </a>

                  <a href="/api/secure/medicalPatient/delete/<%= element._id %>"
                      class="btn btn-danger btn-small"> 
                    <i class="bi bi-person-x"></i>
                  </a>
                </div>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>
  </div>

  <%- include('../../includes/footer') -%>