<%- include('../../includes/header') -%>

<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Editing Patient</h1>
  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">
      <button class="btn btn-sm btn-outline-secondary">?</button>
    </div>
  </div>
</div>

  <div class="col py-3">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
          </ol>
        </nav>
      </div>
      <div class="col text-end fw-lighter">
        <b>UserId:</b>
        <%= medicalPatient._id %>
      </div>
    </div>

  </div>

  <form action="/api/secure/medicalPatient/edit/<%= medicalPatient._id%>" method="POST" name="f1"
    onsubmit="return validate()">

    <div class="row form-group mb-4">
      <div class="col">
        <div class="form-group"> 
          <label for="patientype">Patient Type</label>
          <select class="form-select" id="patientype" name="patientype">
            <option id="patientype" name="patientype" value="<%= medicalPatient.Referral %>">Referral</option>
            <option id="patientype" name="patientype" value="<%= medicalPatient.D2C %>">D2C</option>
          </select>
        </div>
        </div>
      <div class="col">
        <label for="referredBy">Referred By</label>
        <input type="text" class="form-control" id="referredBy" readonly name="referredBy" value="<%= medicalPatient.referredBy %>"
          placeholder="Referred By" required>
      </div>
    </div>
    <div class="row form-group mb-4">
      <div class="col">
        <label for="rxApproval">Rx Approval</label>
        <input type="text" class="form-control" id="rxApproval" name="rxApproval"
          value="<%= medicalPatient.rxApproval %>" placeholder="Rx Approval" required>
      </div>

      <div class="col">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName"
          value="<%= medicalPatient.firstName %>" placeholder="First Name" required>
      </div>
    </div>
    <div class="row form-group mb-4">
    <div class="col">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" name="lastName"
        value="<%= medicalPatient.lastName %>" placeholder="Last Name" required>
    </div>

    <div class="col">
      <label for="dateOfBirth">Date Of Birth</label>
      <input type="text" class="form-control" id="dateOfBirth" name="dateOfBirth"
        value="<%= medicalPatient.dateOfBirth %>" placeholder="Date Of Birth" required>
    </div>
  </div>
    <div class="row form-group mb-4">
      <div class="col">
        <label for="nummd">Nummd</label>
        <input type="number" class="form-control" id="nummd" name="nummd"
          value="<%= medicalPatient.nummd %>" placeholder="Nummd" required>
      </div>

      <div class="col">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" name="city"
          value="<%= medicalPatient.city %>" placeholder="City" required>
      </div>
    </div>
    <div class="row form-group mb-4">
    <div class="col">
      <label for="state">State</label>
      <input type="text" class="form-control" id="state" name="state"
        value="<%= medicalPatient.state %>" placeholder="State" required>
    </div>

    <div class="col">
      <label for="zip">Zip</label>
      <input type="number" class="form-control" id="zip" name="zip"
        value="<%= medicalPatient.zip %>" placeholder="Zip" required>
    </div>
    </div>
    <div class="row form-group mb-4">
      <div class="col">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" value="<%= medicalPatient.email %>"
          placeholder="Email" required>
      </div>

      <div class="col">
        <label for="phone">Phone</label>
        <input type="number" class="form-control" id="phone" name="phone" value="<%= medicalPatient.phone %>"
          placeholder="Phone" required>
      </div>
    </div>
    
    <div class="row form-group mb-4">
      <div class="col">
        <div class="row form-group mb-4">
          <div class="form-group">
            <label for="status">Status</label>
            <select class="form-select" id="status" name="status"  value="" >
              <option id="status" name="status"  value="<%= medicalPatient.Active %>">Active</option>
              <option id="status" name="status"  value="<%= medicalPatient.Dormant %>">Dormant</option>
              <option id="status" name="status"  value="<%= medicalPatient.Removed %>">Removed</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col">
        <label for="coordinatorFirstName">Coordinator FirstName</label>
        <input type="text" class="form-control" id="coordinatorFirstName" name="coordinatorFirstName" value="<%= medicalPatient.coordinatorFirstName %>"
          placeholder="Coordinator FirstName" required>
      </div>
    </div>
    <div class="row form-group mb-4">
      <div class="col">
        <label for="coordinatorLastName">Coordinator LastName</label>
        <input type="text" class="form-control" id="coordinatorLastName" name="coordinatorLastName" value="<%= medicalPatient.coordinatorLastName %>"
          placeholder="Coordinator LastName" required>
      </div>
      <div class="col">
        <label for="coordinatorPhone">Coordinator Phone</label>
        <input type="number" class="form-control" id="coordinatorPhone" name="coordinatorPhone" value="<%= medicalPatient.coordinatorPhone %>"
          placeholder="Coordinator Phone" required>
      </div>
    </div>
    <div class="row form-group mb-4">
      <div class="col">
        <label for="coordinatorEmail">Coordinator Email</label>
        <input type="text" class="form-control" id="coordinatorEmail" name="coordinatorEmail" value="<%= medicalPatient.coordinatorEmail %>"
          placeholder="Coordinator Email" required>
      </div>
     
    </div>
    <div class="form-group mb-4">
      <button type="submit" class="btn btn-primary">Update Medical Practices</button>
    </div>
  </form>

  <div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">You are about to remove a Medical Practices record.</div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            This will remove the Medical Practices record of <b class="fw-bold">
            
            </b><br />
            Are you sure?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action="/api/secure/medicalPatient/edit/<%= medicalPatient._id %>?_method=DELETE" method="POST"
            class="position-relative">
            <button type="submit" class="btn btn-primary">Yes, Remove Medical Practices</button>
          </form>
        </div>
      </div>
    </div>
  </div>